<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Presentation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Presentation.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Data Source=.;Initial Catalog=ArvatoHRM;Integrated Security=True</value>
            </setting>
            <setting name="EmployeeID" serializeAs="String">
                <value />
            </setting>
            <setting name="yes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="username3086" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="password3086" serializeAs="String">
                <value>12#2!@31se</value>
            </setting>
            <setting name="UserAccessType" serializeAs="String">
                <value>Administrator</value>
            </setting>
            <setting name="UserFirstname" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLastname" serializeAs="String">
                <value />
            </setting>
        </Presentation.Properties.Settings>
    </userSettings>
</configuration>